@model IEnumerable<Prototyp2.Views.miejscowosc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazwa)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                @*
            @Html.ActionLink("Edit", "Edit", new { id=item.id_miejscowosci }) |
*@
@Html.ActionLink("Detale", "Details", new { id = item.id_miejscowosci })
@*
    @Html.ActionLink("Delete", "Delete", new { id = item.id_miejscowosci })
*@
        </td>
    </tr>
}

</table>
