@model Prototyp2.Views.kaplan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Jesteś pewien że chcesz usunąć ten rekord?</h3>
<div>
    <h4>kaplan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwisko)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Wróc do listy", "Index")
        </div>
    }
</div>
